fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
passlib[argon2]
pydantic
pydantic[email]
pydantic-settings
python-jose[cryptography]
supabase==2.0.3
httpx==0.24.1
python-multipart
resend